body {
  margin: 24px 156px;
  background-color: #fafafa;
}
.gallery {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
.gallery-item {
  width: calc((100%-24px) / 3);
}

img {
  display: block;
  width: 300px;
  height: auto;
  cursor: pointer;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999999;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
}
